* {
    padding: 0;
    margin: 0;
}

html {
    background-color: black;
    z-index: -1;
}

body {
    margin: 0 10%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

.header {
    display:inline-block;
    background-color: black;
    color: white;
    width: 100%;
    margin: 2% 0;
}

.main {
    padding: 1% 0 3% 0;
    width: 100%;
    border: black solid 1%;
    background-color:white;
    text-align: center;
}

#game-area {
    background-color: #006400;
    display: inline-block;
    margin-top: 1%;
}

.cell {
    height: 20px;
    width: 20px;
    background-color: green;
    background-image: url("images/tree.png");
    background-size: cover;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin: 0 3px;
}

.footer {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
}

.fire {
    background-color: red;
    background-image: url("images/fire.png");
    background-size: cover;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-10deg); }
  20% { transform: rotate(10deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-10deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-10deg); }
}

.player {
    background-color: blue;
    background-image: url("images/fireman.png");
    background-size: cover;
}

/*.fire.player {
    background-image: radial-gradient(blue, red);
}*/

h2 {
    margin:2% 0;
}

.userMenu {
    display: inline-block;
    /*background-color: red;*/
    vertical-align:top;
    margin: 5% 2%;
    text-align: center;
}

.userMenu * {
    margin: 5% 0;
}

button {
    background-color: black;
    color: white;
    border: 0;
    font-family: 'Raleway', sans-serif;
    padding: 15px 32px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
}




